*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(30, 0, 44);
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    position: absolute;
    z-index: 999;
    filter: invert(1);
    margin-top: -20px;
    margin-left: 20px;
}

.navBar {
    height: 40px;
    text-align: right;
    padding-top: 20px;
}

.navItem {
    padding: 10px;
    background-color: yellow;
    margin-right: 10px;
    transition: 0.1s ease-in;
    cursor: pointer;
}

.navItem:hover {
    background-color: rgb(255, 255, 123);
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    
    text-decoration: none;
    color: black;
}

.callToAction {
    display: flex;
    flex-direction: initial;
    margin: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.battlePass {
    height: 700px;
    width: 400px;
    background-image: url(../Assets/images/header.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    transition: 1s ease;
    margin: 20px 10px 0px 10px;
}

.battlePass:hover {
    width: 700px;
}

.battlePass h2{
    color: #000000;
    background-color: #ffffffab;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    backdrop-filter: blur(20px);
}

.crewPack {
    height: 700px;
    width: 400px;
    background-image: url(../Assets/images/fortnite_crew_january_2024.jpeg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin-top: 20px;
    transition: 1s ease;
}

.crewPack:hover {
    width: 700px;
}

.crewPack h2{
    color: #000000;
    background-color: #ffffffab;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    backdrop-filter: blur(20px);
}

.freeBattlePass {
    display: flex;
    color: rgb(30, 0, 44);
}

.fixedLeft {
  height: 50px;
    width: 50px;
    background-image: url(../Assets/images/Battle_Pass_-_Icon_-_Fortnite.webp);
    background-size: cover;
    background-position: center;
    margin-left: 40px;
}

.centerStretch {
    background-color: rgb(174, 126, 53);
    flex-grow: 1;
   text-align: center;
    margin: 0 20px 0 20px;
    border-radius: 10px;
    font-size: 20px;
}
.fixedRight {
    height: 50px;
      width: 50px;
      background-image: url(../Assets/images/Battle_Pass_-_Icon_-_Fortnite.webp);
      background-size: cover;
      background-position: center;
      margin-right: 40px;
  }

  @media (max-device-width: 800px)  {
    .centerStretch{
        font-size: 12px;
    }
  }